body{
    background-color: wheat;
      margin: 0;
  padding: 60px 50px;
}
.container{
    display:flex;
    gap:20px;
    align-items:center;
}
.site-footer {
  background-color: #222222;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
}

.site-footer a {
  color: #4dabf7;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}
/*////////////////////////////////////*/
/*Search bar */
.search-container {
  margin: 20px 0;
}
#searchInput {
  padding: 10px;
  width: 250px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/*////////////////////////////////////*/